{% extends 'base.html' %}
{% load humanize %}

{% block content %}

    <table>
        <tbody>
        {% for submission in submissions %}
            <tr>
                <td>
                    <div class="vote"
                         data-what-type="submission"
                         data-what-id="{{ submission.id }}">
                        {% with vote_value=submission_votes|get_item:submission.id %}
                            <div><i class="fa fa-chevron-up {% if  vote_value == 1 %} upvoted {% endif %}"
                                    title="upvote" onclick="vote(this)"></i>
                            </div>
                            <div class="score" title="score">{{ submission.score }}</div>
                            <div><i class="fa fa-chevron-down{% if  vote_value == -1 %} downvoted {% endif %}"
                                    title="downvote"
                                    onclick="vote(this)"></i></div>
                        {% endwith %}
                    </div>
                </td>
                <td class="info-container">
                    <a class="thread-title" href="{{ submission.linked_url }}">{{ submission.title }}</a>
                    <br>
                    <h6 class="thread-info">submitted {{ submission.timestamp|naturaltime }} by <a
                            href="#">{{ submission.author_name }}</a></h6>

                    <ul class="buttons">
                        <li><a href="{{ submission.comments_url }}">{{ submission.comment_count }} comments</a></li>
                    </ul>


                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav>
        <ul class="pager">
            {% if submissions.has_previous %}
                <li class="previous"><a href="?page={{ submissions.previous_page_number }}"><span
                        aria-hidden="true">&larr;</span> Previous</a></li>
            {% else %}
                <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
            {% endif %}

            {% if submissions.has_next %}
                <li class="next"><a href="?page={{ submissions.next_page_number }}">Next <span
                        aria-hidden="true">&rarr;</span></a></li>
            {% else %}
                <li class="next disabled"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}