{% load humanize %}
{% load mptt_tags %}

{% recursetree comments %}
    <div class="media">
        <div class="media-left">
            <div class="vote comment-votes"
                 data-what-type="comment"
                 data-what-id="{{ node.id }}">
                {% with vote_value=comment_votes|get_item:node.id %}
                    <div><i class="fa fa-chevron-up {% if vote_value == 1 %} upvoted {% endif %}"
                            title="upvote" onclick="vote(this)"></i>
                    </div>
                    <div><i class="fa fa-chevron-down {% if vote_value == -1 %} downvoted {% endif %}"
                            title="downvote"
                            onclick="vote(this)"></i></div>
                {% endwith %}
            </div>
        </div>
        <div class="media-body"
             data-parent-id="{{ node.id }}"
             data-parent-type="comment">
            <h5 class="media-heading"><a href="/user/{{ node.author_name }}">{{ node.author_name }}</a>
                <a class='score'> {{ node.score }}</a> points posted {{ node.timestamp|naturaltime }}</h5>
            {{ node.html_comment|safe }}
            <div class="reply-container">
                <ul class="buttons">
                    <li><a href="javascript:void(0)" name="replyButton">reply</a></li>
                </ul>
            </div>
            {% if not node.is_leaf_node %}
                {{ children }}
            {% endif %}
        </div>
    </div>
{% endrecursetree %}