<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'frontpage' %}">DjangoReddit</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'frontpage' %}">Home</a></li>
                <li><a href="{% url 'submit' %}">Submit</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right ">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            {{ user }}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/user/{{ user }}">Profile</a></li>
                            <li class="disabled"><a href="#">Messages <span class="badge">0</span></a></li>
                            <li class="divider"></li>
                            <li>
                                <form id="logoutForm" action="/logout/" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="current_page" value="{{ request.path }}">
                                </form>
                                <a onclick="$(this).parent().find('#logoutForm').submit()" href="#">Logout</a>
                            </li>

                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>


        </div>
    </div>
</nav>
